source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget Aether

group Build
    source https://nuget.org/api/v2

    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://nuget.org/api/v2

    nuget xunit
    nuget Microsoft.NET.Test.Sdk
    nuget xunit.runner.visualstudio