source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget Aether

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting

  nuget SourceLink.Create.CommandLine copy_local: true
  clitool dotnet-sourcelink

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget xunit

  clitool dotnet-xunit