source https://api.nuget.org/v3/index.json

storage: none
frameworks: net47, netstandard2.0

nuget FSharp.Core redirects:force
nuget Aether

nuget Argu      
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck

group Formatting

	storage: packages

    source https://www.nuget.org/api/v2
    source https://ci.appveyor.com/nuget/fsharp-formatting
    nuget FSharp.Compiler.Service 34.1.1
    nuget FSharp.Formatting prerelease
    nuget FSharp.Formatting.CommandTool prerelease
    nuget Newtonsoft.Json >= 12.0.3
    nuget FSharp.Plotly >= 1.2.2