type project
id
    FSharp.FGL.IO
authors 
    HLWeil,LibraChris
description
	description
owners
    CSBiology
licenseUrl
    https://github.com/CSBiology/FSharp.FGL/blob/master/LICENSE
requireLicenseAcceptance
    False
language
    F#
copyright
    Copyright 2020
tags
    F# FSharp bioinformatics datascience biology graph FGL network
summary
    Functional graph-library written in F#
repositoryType
    git
repositoryUrl
    https://github.com/CSBiology/FSharp.FGL